@import "primeicons/primeicons.css";

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100%;
}

/* Isso garante que box-sizing seja aplicado em tudo, sem quebrar as fontes */
*, *::before, *::after {
  box-sizing: border-box;
}
